.button {
        display: block;
        background-color: $color-red;
        border-radius: 20px;
        border: none;
        color: #ffffff;
        text-align: center;
        text-transform: uppercase;
    &_promo, &_footer {
        width: 160px;
        height: 45px;
        font-size: 12px;
        font-weight: 400;
        margin-left: 15px;
    }
    &_promo-bottom {
        width: 230px;
        height: 57px;
        font-size: 15px;
        font-weight: 700;
        margin: 0 auto;
        margin-top: 39px;
    }
    &_prices {
        bottom: 25px;
        width: 160px;
        height: 45px;
        font-size: 12px;
        font-weight: 400;
        margin: 0 auto;
        margin-top: 25px;
        &.active {
            margin-top: 45px;
        }
    }
    &_consultation {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -22px;
        width: 180px;
        height: 45px;
    }
    &_questions {
        width: 180px;
        height: 45px;
        margin-top: 17px;
        color: #ffffff;
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
    }
} 
