.footer {
    padding: 24px 0 26px 0;
    background-color: #25333c;
    &__wrapper {
        display: flex;
        align-items: center;
    }
    &__logo {
        margin-right: 43px;
    }
    &__contacts {
        display: flex;
    }
    &__descr {
        color: #ffffff;
        font-size: 16px;
        font-weight: 700;
        margin-right: 280px;
    }
    &__title {
        text-align: right;
        color: #ffffff;
        font-size: 14px;
        font-weight: 300;
    }
    &__phone {
        text-decoration: none;
        color: #fff;
        &:hover {
            color: $color-red;
            text-decoration: underline;
        }
    }
}