.section__subtitle {
    color: #2e2e2e;
    font-size: 21px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    margin-top: 17px;
    &_white {
        color: #ffffff;
        font-size: 19px;
        line-height: 27px;
        text-align: center;
        margin-top: 22px;
    }
}