.benefits {
    background-color: #f6f6f6;
    min-height: 470px;
    padding: 70px 0 78px 0;
    &__wrapper {
        display: flex;
        justify-content: center;
        margin-top: 65px;
    }
    &-icons {
        display: flex;
        &__icon {
            width: 340px;
            img {
                display: block;
                margin: 0 auto;
                animation: heartbeat 1.5s ease infinite;
                &:hover {
                    animation-play-state: paused;
                }
            }
            .benefits-icons__subtitle {
                color: #0d0d0d;
                margin-top: 38px;
                font-size: 18px;
                font-weight: 700;
                text-align: center;
            }
            .benefits-icons__descr {
                width: 243px;
                margin: 0 auto;
                color: #0d0d0d;
                margin-top: 26px;
                font-size: 14px;
                font-weight: 300;
                text-align: center;
                span {
                    color: #ff0000;
                    text-decoration: underline;
                }
            }
        }
    }

}

@import "base/media";