.title {
    text-align: center;
    color: #0d0d0d;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    &_left {
        margin: 0;
        color: #FFFFFF;
        text-align: left;
        font-weight: 700;
        font-size: 36px;
    }
    &_feedback {
        margin-bottom: 70px;
        text-align: center;
        color: #0d0d0d;
        font-size: 30px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
    }
}