@import "libs/bootstrap-reboot.min";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import "base/variables";
@import "base/mixins";

* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

@import "blocks/promo";
@import "blocks/buttons";



@import "blocks/media/promo-media";