@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerLight.woff2') format('woff2'),
      url('../fonts/MullerLight.woff') format('woff');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerRegular.woff2') format('woff2'),
      url('../fonts/MullerRegular.woff') format('woff');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerMedium.woff2') format('woff2'),
      url('../fonts/MullerMedium.woff') format('woff');
    font-display: swap;
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerBold.woff2') format('woff2'),
      url('../fonts/MullerBold.woff') format('woff');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

:root {
    --main-color: #CC9933;
    --grey-color: #999999;
    --white-color: white;
    --color-hover: #CC9933;
    --color-focus: #CC9933;
    --color-active: #A47312;
}

* {
    box-sizing: border-box;
}

html {
    font-family: 'Muller', sans-serif;
}

body {
    background-color:  #E5E5E5;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
p {
    margin: 0;
}
strong {
    display: inline-block;
}

.container {
    width: 1200px;
    padding: 30px 15;
    margin: 0 auto;
}

.header {
    padding: 0px 15px 0px 15px;
}
.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav {
    background-color: #fff;
    border-radius: 15px;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-logo {
    margin-right: 40px;
}

.header-phone {
    font-weight: 500;
    font-size: 20px;
    color: #666666;
    transition: color, 0.5s;
}

.header-phone:hover {
    color: var(--color-hover);
}
.header-phone:active {
    color: var(--color-active);
}

.header-icon,
.header-text {
    display: inline-block;
}
.header-icon {
    margin-right: 5px;
}
.header-right {
    display: flex;
    align-items: center;
}
.header-cabinet {
    display: flex;
    align-items: center;
    transition: color, 0.5s;
}

.header-cabinet__text {
    font-weight: 400;
    font-size: 16px;
    color: var(--main-color);
}
.header-cabinet__text:hover,
.header-icon__text:hover {
    color: var(--color-hover);
    
}
.header-cabinet__text:focus,
.header-icon__text:focus {
    color: var(--color-focus);
}
.header-cabinet__text:active,
.header-icon__text:active {
    color: var(--color-active);
}
.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 30px;
}
.header-nav__list {
    display: flex;
}
.header-nav__item {
    display: block;
}
.header-nav__item:not(:last-child) {
    margin-right: 45px;
}
.header-nav__link {
    font-weight: 400;
    font-size: 16px;
    color: #666666;
    transition: color, 0.5s;
}

.header-nav__link:hover {
    color: var(--color-hover);
}
.header-nav__link:active {
    color: var(--color-active);
}

.btn {
    display: inline-block;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    background-color: #fff;
    font-weight: 400;
    font-size: 16px;
    color: var(--main-color);
    padding: 13px 20px;
    cursor: pointer;
    transition: background, color, 0.5s
}
.btn:not(:last-child) {
    margin-right: 40px;
}

.btn:hover {
    color: var(--white-color);
    background: var(--color-hover);
}

.btn:focus {
    color: var(--white-color);
    background: var(--color-focus);
}

.btn:active {
    color: var(--white-color);
    background: var(--color-active);
}

/* offers */

.offers {
    padding: 70px 15px 0px 15px;
}

.section-title {
    margin-bottom: 20px;
    margin-left: 20px;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #333333;
}

.offers-wrapper {
    display: flex;
    align-items: stretch;
}

.offers-small__list {
    display: flex;
    flex-direction: column;
    min-width: 45%;
}

.offers-small__item {
    margin-right: 24px;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    box-shadow: none;   
}

.offers-small__item > * {
    position: relative;
    z-index: 1;
}

.offers-small__item-first::before,
.offers-small__item-second::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: -450px;
    background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%);
    border-radius: 15px;
}

.offers-small__item-first:hover::before,
.offers-small__item-second:hover::before {
    content: '';
    transition: background, z-index, 0.5s;
    position: absolute;
    left: 0;
}

.offers-small__item:not(:last-child) {
    margin-bottom: 25px;
}

.offers-small__content {
    padding: 40px 75px 40px 45px;
}


.offers-small__item-first {
    background-image: url("../img/offers/offrebg1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.offers-small__item-second {
    background-image: url("../img/offers/offerbg2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;   
}

.offers-big__item {
    /* outline: 2px solid red; */
    border-radius: 15px;
    min-width: 45%;
    background-image: url("../img/offers/offerbg3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    padding: 212px 229px 40px 45px;
    position: relative;
    overflow: hidden;
}

.offers-big__item > * {
    position: relative;
    z-index: 1;
}

.offers-big__item::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: -450px;
    background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%);
    border-radius: 15px;
}

.offers-big__item:hover::before {
    content: '';
    transition: background, z-index, 0.5s;
    position: absolute;
    left: 0;
}



.offers-small__item-heading {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.offers-small__item-price {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 47px;
}

.offers__item-link {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #F0BF5F;
}

.offers__item-link:hover {
    color: var(--color-hover);
}
.offers__item-link:active {
    color: var(--color-active);
}


.offers__item-text,
.offers__item-icon {
    display: inline-block;
}

.offers__item-text {
    margin-right: 5px;
}

.offers-big__item-heading {
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.offers-big__item-price {
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 47px;
}

/* about */
.about {
    padding: 70px 15px 0px 15px;
}
.description {
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: #000000;
}

.about-description {
    padding-right: 400px;
}

/* services */

.services {
    padding: 70px 15px 0px 15px;
}

.services-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services-list__item {
    border-radius: 15px;
    width: 49%;
    margin-bottom: 24px;

}
.services-list__item:nth-child(3),
.services-list__item:nth-child(4) {
    margin-bottom: 0;
}

.services-list__item-img {
    display: block;
}

.services-list__item-heading {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    color: var(--main-color);
    margin-bottom: 10px;
}
.services-list__line {
        margin-right: 5px;
}
.services-list__icon {
    display: inline-block;
}
.services-list__item-description {
    padding: 26px 126px 35px 45px;
    background-color: #fff;
    border-radius: 0px 0px 15px 15px;
}

/* benefits */

.benefits {
    padding: 70px 15px 0px 15px;
}

.benefits-list {
    display: flex;
    flex-wrap: wrap;
}
.benefits-list__item {
    background-color: #fff;
    border-radius: 15px;
    padding: 40px 42px 32px 45px;
    width: 23%;
    margin-right: 30px;
    margin-bottom: 22px;
}

.benefits-list__item-icon {
    display: block;
    margin-bottom: 10px;
}
.benefits-list__item-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: #000000;
}

.benefits-list__item:nth-child(4n) {
    margin-right: 0;
}

.benefits-list__item:nth-child(n + 5) {
    margin-bottom: 0;
}

/* placement */

.placement {
    padding: 70px 15px 70px 15px;
}

.placement-list {
    display: flex;
    flex-wrap: wrap;
}

.placement-list__item {
    background-color: #fff;
    border-radius: 15px;
    width: 32%;
    margin-right: 23px;
    margin-bottom: 24px;
}

.placement-list__item-img {
    width: 100%;
}
.placement-list__item:nth-child(3n) {
    margin-right: 0;
}

.placement-list__item:nth-child(n + 7) {
    margin-bottom: 0;
}



.placement-list__item-price,
.raiting {
    display: inline-block;
}

.placement-list__wrapper {
    padding: 32px 45px 45px 45px;
}

.placement-list__item-price {
    margin-right: 52px;
    margin-bottom: 16px;
}

.preposition {
    font-weight: 400;
    font-size: 16px;
    color: var(--grey-color);
}

.price {
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}

.period {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
}

.placement-list__item-hotel {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}

.placement-list__item-country {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    color: var(--grey-color);
}
.big {
    margin-right: 0;
    background-image: url("../img/placement/big.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    padding: 373px 54px 27px 54px;
    position: relative;
}

.big__link {
    display: flex;
    align-items: center;
}
.big__link-icon,
.big__link-line {
    display: inline-block;
}

.big__link-line {
    margin-right: 5px;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
}

.big__link::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* modal */

.modal {
    padding: 45px 15px 70px 15px;
    background-color: #E9E9E9;
    border-radius: 15px;
}
.modal-form {
    display: flex;
    background-color: #fff;
    border-radius: 15px;
    padding: 32px 28px;
    align-items: center;
    justify-content: space-between;
}
label,
select {
    display: block;
    font-family: 'Muller';
    font-weight: 500;
    color: #000000;
    border: none;
}

label {
    font-size: 12px;
    margin-bottom: 15px;
}

select {
    font-size: 16px;
    font-weight: 600;
}

option {
    padding: 0;
}
.form-label1,
.form-label2{
    margin-left: 3px;
}
#form-calendar,
#form-nights,
#form-tourist {
    border: none;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
}

#form-calendar::placeholder,
#form-nights::placeholder,
#form-tourist::placeholder {
    border: none;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
}

#form-nights,
#form-tourist {
    border-bottom: 1px solid #E5E5E5;
    width: 75%;
}

.form-btn {
    padding: 13px 30px;
}

/* contacts */

.contacts {
    padding: 70px 15px 40px 15px;
}

.contacts__wrapper {
    padding: 50px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 15px;
}

.contacts__list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 35%;
}

.contacts__item {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 0.6fr 1fr;
    border-bottom: 1px solid #E9E9E9;
    padding-bottom: 25px;
}


.contacts__item-data {
    font-style: normal;
    font-size: 16px;
}
.contacts__phone,
.contacts__email {
    display: block;
    color: var(--main-color);
    transition: color, 0.5s;
}

.contacts__phone:active,
.contacts__email:active {
    color: var(--color-active);
}

.contacts__item:not(:first-child) {
    padding: 25px 0;
    border-bottom: 1px solid #E9E9E9;
}
.contacts__item:nth-child(4) {
    margin-bottom: 45px;
}

.contacts__item-name {
    font-weight: 700;
    font-size: 20px;
}

.btn-contacts {
    padding: 27px 30px;
}

.contacts__img {
    display: block;
}

/* footer */

.footer__container {
    width: 1170px;
    margin: 0 auto;
}
.footer {
    min-height: 340px;
    padding: 45px;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    position: relative;
    background-color: #333333;
}

.footer__wrapper-left {
    display: flex;
    justify-content: space-between;
}

.footer__copyright {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 37px;
    color: white;
}

.footer__info {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 40px;
    color: white;
}

.footer__agreement {
    display: block;
    color: var(--main-color);
    font-size: 16px;
    transition: color, 0.5s;
}

.footer__agreement:active {
    color: var(--color-active)
}

.footer__address {
    display: block;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
    color: white;
}

.footer__phones {
    margin-bottom: 15px;
    transition: color, 0.5s;
}

.footer__phones:active {
    color: var(--color-active)
}


.footer__wrapper-right {
    display: flex;
    flex-direction: column;
}

.social {
    display: block;
    cursor: pointer;
    margin-bottom: 20px;
}

.social:nth-child(3) {
    margin-bottom: 0;
}
.first__box {
    margin-right: 125px;
}
.footer__img {
    position: absolute;
    top: 112px;
    right: 160px;
}
