

@media(max-width: 1400px) {
    .study {
        padding-left: 10px;
        padding-right: 10px;
        &__item {
            width: 576px;
        }
    }
}

@media(max-width: 1200px) {
    .study {
        padding-left: 10px;
        padding-right: 10px;
        &__item {
            width: 320px;
        }
    }
}

@media(max-width: 992px) {
    .study {
        padding-left: 10px;
        padding-right: 10px;
        &__item {
            width: 320px;
        }
    }
}

@media(max-width: 768px) {
    .study {
        padding-left: 10px;
        padding-right: 10px;
        &__title {
            font-size: 22px;
            line-height: 32px;
        }

        &__subtitle {
            font-size: 15px;
            line-height: 24px;
            margin-top: 20px;
        }
        &__item {
            width: 320px;
        }
    }
}

@media (max-width: 576px) {
    .study {
        padding-left: 10px;
        padding-right: 10px;
        &__title {
            font-size: 22px;
            line-height: 32px;
        }

        &__subtitle {
            font-size: 15px;
            line-height: 24px;
            margin-top: 20px;
        }
        &__item {
            width: 160px;
            &-img {
                display: none;
            }
            &-img_mobile {
                display: block;
            }
            &-descr {
                font-size: 12px;
                line-height: 18px;
            }
        }
    }
}