.future {
    background-color: $grey;
    padding: 86px 146px 0 146px;
    &__title {
        font-family: 'Directo';
        font-weight: 700;
        font-size: 36px;
        line-height: 50px;
        text-align: center;
        color: #2D2D2D;
    }
    &__wrapper {
        margin-top: 46px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__item {
        background-color: #fff;
        padding: 47px 43px 40px 53px;
        margin-top: 18px;
        width: 48%;
        display: flex;
        flex-direction: column;
        &-box {
            display: flex;
            align-items: center;
            img {
                margin-right: 30px;
            }
            h3 {
                font-family: 'Directo';
                font-weight: 700;
                font-size: 22px;
                line-height: 30px;
                color: #2D2D2D;
            }
        }
        &-descr {
            margin-top: 25px;
            font-family: 'FaberSansPro';
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #6D698C;
        }
    }
}