.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: none;
    width: 44px;
    height: 46.54px;
    left: 312.86px;
    top: 59px;
    background: #FFCF3C;
    border-radius: 5px 30px 5px 15px;
    border-width: 0;
    span {
        margin: 2px auto;
        display: block;
        width: 18.62px;
        background-color: black;
        border: 2px solid black;
    }
}